<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                      <div class="col-sm-12 col-lg-12">
                        <fg-input placeholder="Regular" v-model="post.link"></fg-input>
                        <n-button type="submit" v-on:click="saveForm()" round>Round</n-button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { FormGroupInput, Button } from '../';

    export default {
          components: {
            [FormGroupInput.name]: FormGroupInput,
            [Button.name]: Button
          },
        data: function () {
            return {
                post: {
                    link: '',
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newPost = app.post;
                axios.post('/api/v1/posts', newPost)
                    .then(function (resp) {
                        console.log(resp);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            }
        }
    }
</script>
