<template>
  <div>
    <div class="page-header page-header-small">
      <parallax
        class="page-header-image"
        style="background-image: url('img/bg6.jpg')"
      >
      </parallax>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Insta module for kortic</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <posts></posts>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Let's watch your posts</h2>
          </div>
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">

                <div class="col-md-6" v-for="post in posts">
                  <img :src="post.post_id" alt="" class="img-raised" />
                </div>

              </div>
            </div>
        </div>
        <div class="separator separator-primary"></div>
      </div>
    </div>
  </div>
</template>
<script>
import { Button, FormGroupInput } from '../components';
import PostsCreate from '../components/Posts/PostsCreate';
export default {
  name: 'landing',
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Posts: PostsCreate
  },
  data() {
    return {
      posts: []
    };
  },
  mounted() {
      var app = this;
      axios.get('/api/v1/posts')
          .then(function (resp) {
              app.posts = resp.data;
          })
          .catch(function (resp) {
              console.log(resp);
          });
  },
};
</script>
<style></style>
